body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 150px;
}

.banner img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.products, .blog {
    margin-top: 20px;
}

h2 {
    text-align: left;
}

/* .product-grid {
    
    
} */

.product-grid img, .blog-grid img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
